// Font 1
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
$font1: 'Bangers', cursive;
// Font 2
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
$font2: 'Oswald', sans-serif;
//  Font 3
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
$font3: 'Ceviche One', cursive;
// Font 4
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&display=swap');
$font4: 'Rambla', sans-serif;

.admin-sidebar-container {
  position: relative;
  height: 100%;
  width: 15%;
  background: #1e1f1c;
}
