.slider-container {
  position: relative;
  background: red;
  height: 40%;
  top: 10%;
  width: 100%;
  .slide-1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: blue;
    h1 {
      color: white;
    }
  }
}
