/*           FONTS                 */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
.page-2-fluid {
  position: relative;
  height: 1000px;
  background: #090d0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .page-2-fluid {
    height: 100%;
  }
}

.page-2-fluid .row-1 {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

.page-2-fluid .row-1 .col-1 {
  position: relative;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 100px;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-1 {
    height: 500px;
    padding-right: 0px;
  }
}

.page-2-fluid .row-1 .col-1 h1 {
  position: relative;
  top: 20%;
  font-size: 50px;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  font-family: "Bangers", cursive;
}

.page-2-fluid .row-1 .col-1 p {
  font-size: 20px;
  position: relative;
  top: 20%;
  text-align: center;
  width: 100%;
  background: none;
  color: white;
  padding-bottom: 50px;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn {
  position: relative;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 100%;
  background: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .dekusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .dekusvg:hover {
  fill: #16fa74;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg:hover {
  fill: yel low;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .mikasasvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .mikasasvg:hover {
  fill: #b61d0a;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .erensvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .erensvg:hover {
  fill: #11def8;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .allmightsvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .allmightsvg:hover {
  fill: #fbe514;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg:hover {
  fill: #fbe514;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .bakugousvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .bakugousvg:hover {
  fill: #f0880c;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .gojousvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .gojousvg:hover {
  fill: #5e076b;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-2 {
  position: relative;
  background: none;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 {
    height: 500px;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider {
  position: relative;
  top: 5%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.page-2-fluid .row-1 .col-2 .char-slider .video1 {
  position: absolute;
  height: 900px;
  width: 900px;
  background: none;
}

@media screen and (max-width: 780px) {
  .page-2-fluid .row-1 .col-2 .char-slider .video1 {
    height: 100%;
    width: 100%;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider .border-img {
  position: absolute;
  height: 1000px;
  z-index: 1;
  opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 .char-slider .border-img {
    top: 20%;
    height: 600px;
    width: 600px;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider .char-img {
  position: absolute;
  height: 600px;
  top: 15%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 .char-slider .char-img {
    top: 30%;
    height: 400px;
  }
}

.lp-3-cont {
  position: relative;
  height: 100vh;
  background: #090d0f;
}
/*# sourceMappingURL=landingpage2.css.map */