// SCSS fonts and variables
/*           FONTS                 */
// Font 1
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
$font1: "Bangers", cursive;
// Font 2
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$font2: "Fjalla One", sans-serif;
//  Font 3
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
$font3: "Ceviche One", cursive;
$color1: #00b4d8;

.page-2-fluid {
  position: relative;
  height: 90vh;
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 90%,
    rgba(0, 238, 229, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 90%,
    rgba(0, 238, 229, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 90%,
    rgba(0, 238, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#00eee5",GradientType=1);
  display: flex;
  justify-content: center;
  z-index: 1;
  @media screen and (max-width: 800px) {
    height: 100%;
  }
  .row-1 {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    .col-1 {
      position: relative;
      background: none;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
      @media screen and (max-width: 800px) {
        height: 500px;
        padding-right: 0px;
      }
      h1 {
        position: relative;
        top: 20%;
        font-size: 50px;
        letter-spacing: 10px;
        text-align: center;
        font-family: $font1;
      }
      p {
        font-size: 20px;
        position: relative;
        top: 20%;
        text-align: center;
        width: 100%;
        background: none;
        padding-bottom: 50px;
        border-bottom: 2px solid black;
      }
    }

    .col-2 {
      position: relative;
      background: none;
      height: 100%;
      @media screen and (max-width: 800px) {
        height: 500px;
      }
      .char-slider {
        position: relative;
        top: 5%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        .video1 {
          position: relative;
          height: 110%;
          width: 110%;
          background: none;
          @media screen and (max-width: 780px) {
            height: 100%;
            width: 100%;
          }
        }
        .char-img {
          position: absolute;
          @media screen and (max-width: 800px) {
            height: 300px;
            width: 300px;
          }
        }
      }
    }
  }
}

// White to blue
// background: rgb(245, 245, 245);
// background: linear-gradient(
//   180deg,
//   rgba(245, 245, 245, 1) 0%,
//   rgba(245, 245, 245, 1) 31%,
//   rgba(185, 243, 255, 1) 65%,
//   rgba(0, 208, 250, 1) 99%
// );

// Black to blue
// background: -moz-linear-gradient(
//     180deg,
//     rgba(0, 0, 0, 1) 0%,
//     rgba(17, 79, 77, 1) 46%,
//     rgba(17, 157, 151, 1) 77%,
//     rgba(0, 255, 245, 1) 100%
//   );
//   background: -webkit-linear-gradient(
//     180deg,
//     rgba(0, 0, 0, 1) 0%,
//     rgba(17, 79, 77, 1) 46%,
//     rgba(17, 157, 151, 1) 77%,
//     rgba(0, 255, 245, 1) 100%
//   );
//   background: linear-gradient(
//     180deg,
//     rgba(0, 0, 0, 1) 0%,
//     rgba(17, 79, 77, 1) 46%,
//     rgba(17, 157, 151, 1) 77%,
//     rgba(0, 255, 245, 1) 100%
//   );
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00fff5",GradientType=1);

// .page-2-fluid {
//   position: relative;

//   height: 100%;
//   .page-2-container {
//     position: relative;
//     height: 100%;
//     background-color: #090d0f;
//     width: 100%;
//     .row-1 {
//       position: relative;
//       background-color: #090d0f;
//       height: 100vh;
//       @media screen and (max-width: 767px) {
//         height: 100%;
//       }
//       .col-1 {
//         position: relative;
//         height: 100%;
//         top: 0%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         background-color: red;

//         h1 {
//           position: relative;
//           top: 10%;
//           letter-spacing: 5px;
//           color: white;
//           font-family: $font1;
//         }
//         p {
//           position: relative;
//           text-align: center;
//           color: white;
//           top: 10%;
//           padding: 0px 10px;
//           line-height: 30px;
//           font-family: $font2;
//           font-size: 25px;
//         }
//       }
//       .col-2 {
//         position: relative;
//         height: 90%;
//         top: 10%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         background-color: none;

//         h1 {
//           position: relative;
//           top: 5%;
//           letter-spacing: 5px;
//           color: white;
//           font-family: $font1;
//         }
//         p {
//           position: relative;
//           text-align: center;
//           color: white;
//           top: 10%;
//           padding: 0px 20px;
//           line-height: 30px;
//           font-family: $font2;
//           font-size: 25px;
//         }
//       }
//     }
//   }
// }
