// SCSS fonts and variables
/*           FONTS                 */
// Font 1
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
$font1: "Bangers", cursive;
// Font 2
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$font2: "Fjalla One", sans-serif;
//  Font 3
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
$font3: "Ceviche One", cursive;
$color1: #00b4d8;

.page-2-fluid {
  position: relative;
  height: 1000px;
  background: #090d0f;

  display: flex;
  justify-content: center;
  z-index: 1;
  @media screen and (max-width: 800px) {
    height: 100%;
  }
  .row-1 {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    .col-1 {
      position: relative;
      background: none;
      display: flex;
      flex-direction: column;
      padding-right: 100px;
      @media screen and (max-width: 800px) {
        height: 500px;
        position: relative;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
      }
      h1 {
        position: relative;
        top: 20%;
        font-size: 50px;
        color: white;
        letter-spacing: 10px;
        text-align: center;
        font-family: $font1;
        @media screen and (max-width: 500px) {
          font-size: 30px;
        }
      }
      p {
        font-size: 20px;
        position: relative;
        top: 20%;
        text-align: center;
        width: 100%;
        background: none;
        color: white;
        padding-bottom: 50px;
      }
      .svg-btn-ctn {
        position: relative;
        top: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 150px;
        width: 100%;
        background: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin-bottom: 50px;
        @media screen and (max-width: 500px) {
          position: absolute;
          top: 0;
        }
        .dekusvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          z-index: 1;
          &:hover {
            fill: #46efd8;
            transform: translateY(-10px);
          }
        }
        .zenitsusvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: yel low;
            transform: translateY(-10px);
          }
        }
        .mikasasvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #b61d0a;
            transform: translateY(-10px);
          }
        }
        .erensvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #16fa74;
            transform: translateY(-10px);
          }
        }
        .allmightsvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #fbe514;
            transform: translateY(-10px);
          }
        }
        .zenitsusvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #fbe514;
            transform: translateY(-10px);
          }
        }
        .bakugousvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #f0880c;
            transform: translateY(-10px);
          }
        }
        .gojousvg {
          cursor: pointer;
          padding: 0px -5px;
          transition: 0.5s;
          &:hover {
            fill: #5e076b;
            transform: translateY(-10px);
          }
        }
      }
      .hero-workout-btn {
        position: absolute;
        height: 20%;
        bottom: 20%;
        width: 85%;
        background: none;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: center;
        .h1-default {
          display: flex;
          height: 60%;
          width: 100%;
          justify-content: center;
          align-items: center;
          position: relative;
          border: 3px solid black;
          border-bottom-left-radius: 20px;
          border-top-right-radius: 20px;
          font-family: $font1;
          font-size: 40px;
          transition: 0.5s;
          text-decoration: none;
          color: black;
          &:hover {
            background: none;
            transform: translateY(5px);
            border: 3px solid white;
            color: whitesmoke;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
          }
        }
      }
    }
    .dekuBG {
      background: #46efd8;
    }
    .zenitsuBG {
      background: #fbe514;
    }
    .gojouBG {
      background: #5e076b;
    }
    .mikasaBG {
      background: #b61d0a;
    }
    .nezukoBG {
      background: #f485d4;
    }
    .erenBG {
      background: #16fa74;
    }
    .bakugouBG {
      background: #f0880c;
    }

    .col-2 {
      position: relative;
      background: none;
      height: 100%;
      @media screen and (max-width: 800px) {
        height: 500px;
      }
      .char-slider {
        position: relative;
        top: 5%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        .video1 {
          position: absolute;
          height: 900px;
          width: 900px;
          background: none;
          transition: 0.5s;
          animation: fadein 1s;
          @media screen and (max-width: 780px) {
            height: 100%;
            width: 100%;
          }
        }
        .border-img {
          position: absolute;
          height: 1000px;
          z-index: 1;
          opacity: 0.9;
          // display: none;
          @media screen and (max-width: 800px) {
            top: 0%;
            height: 300px;
            width: 300px;
          }
        }
        .char-img {
          position: absolute;
          height: 600px;
          top: 15%;
          cursor: pointer;
          @media screen and (max-width: 800px) {
            top: 30%;
            height: 350px;
            width: 100%;
          }
        }
      }
    }
  }
}
.lp-3-cont {
  position: relative;
  height: 100vh;
  background: rgb(9, 13, 15);
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
