/*           FONTS                 */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
.page-2-fluid {
  position: relative;
  height: 1000px;
  background: #090d0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .page-2-fluid {
    height: 100%;
  }
}

.page-2-fluid .row-1 {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

.page-2-fluid .row-1 .col-1 {
  position: relative;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 100px;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-1 {
    height: 500px;
    position: relative;
    padding-right: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-2-fluid .row-1 .col-1 h1 {
  position: relative;
  top: 20%;
  font-size: 50px;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  font-family: "Bangers", cursive;
}

@media screen and (max-width: 500px) {
  .page-2-fluid .row-1 .col-1 h1 {
    font-size: 30px;
    margin-top: 50px;
  }
}

.page-2-fluid .row-1 .col-1 p {
  font-size: 20px;
  position: relative;
  top: 20%;
  text-align: center;
  width: 100%;
  background: none;
  color: white;
  padding-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .page-2-fluid .row-1 .col-1 p {
    margin-bottom: 50px;
  }
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn {
  position: relative;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 100%;
  background: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .page-2-fluid .row-1 .col-1 .svg-btn-ctn {
    position: absolute;
    top: 0;
  }
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .dekusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .dekusvg:hover {
  fill: #46efd8;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg:hover {
  fill: yel low;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .mikasasvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .mikasasvg:hover {
  fill: #b61d0a;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .erensvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .erensvg:hover {
  fill: #16fa74;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .allmightsvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .allmightsvg:hover {
  fill: #fbe514;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .zenitsusvg:hover {
  fill: #fbe514;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .bakugousvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .bakugousvg:hover {
  fill: #f0880c;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .gojousvg {
  cursor: pointer;
  padding: 0px -5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-2-fluid .row-1 .col-1 .svg-btn-ctn .gojousvg:hover {
  fill: #5e076b;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.page-2-fluid .row-1 .col-1 .hero-workout-btn {
  position: absolute;
  height: 20%;
  bottom: 20%;
  width: 85%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 525px) {
  .page-2-fluid .row-1 .col-1 .hero-workout-btn {
    position: relative;
    bottom: 0%;
    height: 15%;
  }
}

.page-2-fluid .row-1 .col-1 .hero-workout-btn .h1-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: 3px solid black;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Bangers", cursive;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 550px) {
  .page-2-fluid .row-1 .col-1 .hero-workout-btn .h1-default {
    font-size: 25px;
  }
}

.page-2-fluid .row-1 .col-1 .hero-workout-btn .h1-default:hover {
  background: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  border: 3px solid white;
  color: whitesmoke;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.page-2-fluid .row-1 .dekuBG {
  background: #46efd8;
}

.page-2-fluid .row-1 .zenitsuBG {
  background: #fbe514;
}

.page-2-fluid .row-1 .gojouBG {
  background: #5e076b;
}

.page-2-fluid .row-1 .mikasaBG {
  background: #b61d0a;
}

.page-2-fluid .row-1 .nezukoBG {
  background: #f485d4;
}

.page-2-fluid .row-1 .erenBG {
  background: #16fa74;
}

.page-2-fluid .row-1 .bakugouBG {
  background: #f0880c;
}

.page-2-fluid .row-1 .col-2 {
  position: relative;
  background: none;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 {
    height: 500px;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider {
  position: relative;
  top: 5%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.page-2-fluid .row-1 .col-2 .char-slider .video1 {
  position: absolute;
  height: 900px;
  width: 900px;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@media screen and (max-width: 780px) {
  .page-2-fluid .row-1 .col-2 .char-slider .video1 {
    height: 100%;
    width: 100%;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider .border-img {
  position: absolute;
  height: 1000px;
  z-index: 1;
  opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 .char-slider .border-img {
    top: 0%;
    height: 300px;
    width: 300px;
  }
}

.page-2-fluid .row-1 .col-2 .char-slider .char-img {
  position: absolute;
  height: 600px;
  top: 15%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .page-2-fluid .row-1 .col-2 .char-slider .char-img {
    top: 30%;
    height: 350px;
    width: 100%;
  }
}

.lp-3-cont {
  position: relative;
  height: 100vh;
  background: #090d0f;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=landingpage2.css.map */