// Font 1
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
$font1: 'Bangers', cursive;
// Font 2
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
$font2: 'Oswald', sans-serif;
//  Font 3
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
$font3: 'Ceviche One', cursive;
// Font 4
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&display=swap');
$font4: 'Rambla', sans-serif;
.parent-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #339989;
  display: flex;
  flex-direction: row;
  .dashboard-container {
    position: relative;
    height: 100vh;
    width: 90%;
    right: 0px;
    background: #2b2c28;
    @media screen and (max-width: 1500px) {
      width: 85%;
    }

    .dashboard-info-container {
      position: relative;
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: row;

      .favorite-anime-container {
        position: relative;
        height: 100%;
        width: 60%;
        left: 0px;

        display: flex;
        flex-direction: column;
        h1 {
          position: relative;
          color: #cacaca;
          padding-left: 30px;
          font-size: 50px;
          width: 100%;
          font-family: $font4;
          font-weight: 700;
        }
        .top-anime-empty {
          position: relative;
          border: 0px solid #cacaca5e;
          border-radius: 20px;
          width: 90%;
          height: 55%;
          left: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
          .add-anime-icon {
            color: #cacaca;
            font-size: 80px;
            transition: 0.5s;
            &:hover {
              transform: rotate(-180deg);
            }
          }
          p {
            color: #cacaca75;
            font-size: 30px;
            margin-top: 20px;
            font-family: $font2;
          }
        }
        .second-third-cnt {
          position: relative;
          width: 91%;
          height: 40%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          left: 20px;
          .second-third-empty {
            position: relative;
            height: 95%;
            width: 48%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #3e3f396b;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.336);
            z-index: 3;
            text-decoration: none;
            .add-anime-icon {
              color: #cacaca;
              font-size: 80px;
              transition: 0.5s;
              &:hover {
                transform: rotate(-180deg);
              }
            }
            p {
              color: #cacaca75;
              font-size: 30px;
              margin-top: 20px;
              font-family: $font2;
            }
          }
          .left {
            left: 10px;
          }
        }
      }
      .recent-workouts {
        position: relative;
        height: 100%;
        width: 40%;
        h1 {
          color: #cacaca;
          font-family: $font4;
          width: 100%;
          height: 5%;
          font-size: 50px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
        }
        .recent-container {
          position: relative;
          height: 90%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow-y: auto;

          .empty-recent {
            position: relative;
            border-radius: 30px;
            min-height: 300px;
            width: 95%;
            margin: 10px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #3e3f396b;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);

            .add-anime-icon {
              position: relative;
              color: #cacaca;
              font-size: 50px;
              transition: 0.5s;
              &:hover {
                transform: rotate(-180deg);
              }
            }
            p {
              position: relative;
              color: #cacaca75;
              font-size: 20px;
              margin-top: 20px;
              font-family: $font2;
            }
          }
        }
      }
    }
  }
}
