// SCSS fonts and variables
/*           FONTS                 */
// Font 1
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
$font1: "Bangers", cursive;
// Font 2
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
$font2: "Roboto Condensed", sans-serif;
//  Font 3
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
$font3: "Ceviche One", cursive;
.parent-container {
  position: relative;
  background: #090d0f;
}
.workoutguide-cont-fluid {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  padding-bottom: 100px;
  .workout-guide-cont {
    position: relative;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    .guide-col {
      position: relative;
      height: 600px;
      margin-right: 10px;
      border-radius: 20px;
      background: none;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      padding: 50px 0px;
      .icon {
        position: relative;
        top: 2%;
        color: rgb(1, 204, 103);
        border-radius: 50%;
      }
      .guide-h1 {
        position: relative;
        top: 10%;
        margin-bottom: 10px;
        @media screen and (max-width: 1200px) {
          text-align: center;
          font-size: 35px;
        }
        @media screen and (max-width: 500px) {
          text-align: center;
          font-size: 25px;
        }
      }
      .guide-p {
        position: relative;
        text-align: center;
        padding: 0px 20px;
        font-size: 20px;
        color: white;
        letter-spacing: 2px;
        top: 10%;
        background: none;
      }
    }
    .guide-col-2 {
      position: relative;
      height: 600px;
      margin-left: 10px;
      border-radius: 20px;
      background: none;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1000px) {
        padding: 50px 10px;
        margin-top: 20px;
        height: 100%;
      }
      .structure-h1 {
        position: relative;
        top: 20px;
        width: 100%;
        text-align: center;
        background: none;
      }
      h2 {
        position: relative;
        top: 30px;
        @media screen and (max-width: 1000px) {
          text-align: center;
        }
      }
      p {
        position: relative;
        color: white;
        top: 30px;
        font-family: $font2;
        text-align: start;
        @media screen and (max-width: 1000px) {
          text-align: center;
          padding: 0px 20px;
        }
      }
    }
  }
}
.main-container {
  height: 100%;
  position: relative;
  background: none;
  // Fluid container
  .cont-fluid {
    position: relative;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cont-inner-main {
      position: relative;
      height: 100%;
      .workouth1 {
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: $font1;
        font-size: 55px;
        letter-spacing: 5px;
        transition: 0.5s;
      }
      .row-1,
      .row-2 {
        position: relative;
        height: 100%;
        margin: 30px 0px;
        transition: 0.5s;
        .col-1 {
          position: relative;
          height: 100%;
          border-radius: 10px;
          height: 200px;
          padding: 10px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          .img-class {
            position: relative;
            height: 100%;
          }
        }
        .col-2 {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 85%;
          height: 200px;
          background: none;
          .workout-name {
            padding-top: 10px;
          }
          .workout-desc {
            font-family: $font2;
            font-size: 20px;
            text-align: center;
            letter-spacing: 2px;
            padding: 0px 30px;
            color: white;
            @media screen and (max-width: 500px) {
              height: 130px;
              overflow-y: scroll;
            }
          }
        }
        .col-3 {
          position: relative;
          height: 100%;
          width: 100%;
          background: none;
          .accordion-1 {
            position: relative;
            width: 100%;
            .card-1 {
              position: relative;
              width: 100%;
              height: 100%;
              background: none;
              .accordion-toggle {
                color: white;
                font-family: $font1;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                padding-left: 50px;
                font-size: 40px;
                @media screen and (max-width: 700px) {
                  font-size: 25px;
                  padding: 0px;
                  justify-content: center;
                }
              }

              .card-body {
                position: relative;
                display: flex;
                flex-direction: column;
                .set-h1 {
                  color: white;
                  font-size: 60px;
                  font-family: $font1;
                  text-align: start;
                }
                .acc-row-1 {
                  display: flex;
                  flex-direction: row;
                  margin-bottom: 20px;

                  .acc-col-1 {
                    background: none;
                    height: 300px;
                    width: 100%;
                    .ownership-p {
                      position: absolute;
                      bottom: 0;
                      text-align: center;
                      background: none;
                      width: 100%;
                      color: rgba(255, 255, 255, 0.274);
                    }
                  }
                  .acc-col-2 {
                    background: none;
                    height: 300px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background: none;
                    .workout-name-h1 {
                      position: relative;
                      background: none;
                      width: 100%;
                      padding: 10px 0px;
                      text-align: center;
                    }
                    .workout-desc-p {
                      position: relative;
                      background: none;
                      padding: 10px 30px;
                      text-align: center;
                      color: white;
                      font-family: $font2;
                    }
                  }
                  .repeat-h1 {
                    position: relative;
                    background: none;
                    width: 100%;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.display-none {
  display: none;
}

.invisible-row {
  display: none;
}

.svg-class {
  height: 100%;
  width: 100%;
  background: url("../../assets/bodyparts/chestsvg.svg");
}

// Green theme
.green-color {
  color: #0dd872;
  font-family: $font1;
}
.green-border {
  border: 4px solid rgb(13, 216, 114);
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 5px 10px rgb(13, 216, 114);
  }
}

// Yellow theme
.yellow-color {
  color: rgba(213, 216, 13, 1);
}
.yellow-border {
  border: 4px solid rgba(213, 216, 13, 1);
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 0px 10px rgb(253, 255, 129);
  }
}
