// Font 1
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
$font1: 'Bangers', cursive;
// Font 2
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
$font2: 'Oswald', sans-serif;
//  Font 3
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
$font3: 'Ceviche One', cursive;
// Font 4
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&display=swap');
$font4: 'Rambla', sans-serif;

.admin-dash-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  .admin-dash {
    position: relative;
    height: 100%;
    width: 85%;
    background: #2b2c28;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .admin-profile-container {
      position: relative;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;

      .admin-profile {
        position: relative;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #cacaca;
        border-radius: 20px;
        left: 30px;
        width: 50%;
        padding: 0px 20px;
        .admin-h1 {
          position: relative;
          height: 100%;
          margin: 0px;
          font-family: $font4;
          display: flex;
          align-items: center;
          font-size: 45px;
        }
        h1 {
          position: relative;
          height: 100%;
          margin: 0px;
          font-family: $font1;
          display: flex;
          font-size: 40px;
          align-items: center;
          margin: 0px 20px;
        }
        .logout-btn {
          position: absolute;
          height: 60%;
          width: 100px;
          display: flex;
          align-items: center;
          background: #2b2c28;
          color: white;
          font-family: $font1;
          font-size: 20px;
          right: 10px;
        }
      }
    }
    .add-workout-container {
      position: relative;
      height: 90%;
      width: 100%;
      background: none;
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      padding-left: 30px;
      .add-anime-container {
        position: relative;
        height: 100%;
        width: 95%;
        background: #cacaca;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.349);
        border-radius: 50px;
        .add-row {
          position: relative;
          height: 10%;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding-top: 10px;
          justify-content: center;
          background: #cacaca;
          border-radius: 50px;

          h1 {
            color: black;
            font-family: $font4;
            font-size: 45px;
            text-transform: uppercase;
            margin-right: 10px;
          }
          .add-workout-button {
            position: relative;
            height: 50%;
            width: 100px;
            margin-right: 10px;
            border: none;
            background: none;
            .add-workout-icon {
              font-size: 50px;
              color: #3a3b38;
              transition: 0.5s;
              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
        .display-workout-row {
          position: relative;
          height: 90%;
          width: 100%;
          display: flex;
          flex-direction: column;
          background: #2b2c28;
          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
          overflow-y: auto;
          .change-anime-row {
            position: relative;
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 20px 0px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background: #3a3b385d;
            overflow-x: auto;
            .anime-pic {
              position: relative;
              height: 100%;
              width: 200px;
              cursor: pointer;
              margin: 0px 20px;
              transition: 0.5s;
              &:hover {
                transform: translateY(-5px);
              }
            }
          }
          .workouts {
            position: relative;
            min-height: 120px;
            width: 100%;
            background: #3a3b38;
            border-radius: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 45px;
            margin: 5px 0px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
            transition: 0.5s;
            &:hover {
              transform: translateY(-5px);
              box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.596);
            }
            .anime-img {
              position: relative;
              height: 100%;
              width: 200px;
              background: none;
            }
          }
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3b38;
  transition: 0.3s;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2c28;
}
