// Font 1
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
$font1: 'Bangers', cursive;
// Font 2
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
$font2: 'Oswald', sans-serif;
//  Font 3
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
$font3: 'Ceviche One', cursive;
// Font 4
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@1,700&display=swap');
$font4: 'Rambla', sans-serif;

.admin-login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('../../assets/waves.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .login-form-container {
    position: relative;
    height: 60%;
    width: 420px;
    background: #3e3f396b;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.582);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    display: flex;
    flex-direction: column;
    h1 {
      position: relative;
      height: 15%;
      width: 100%;
      font-family: $font1;
      text-align: center;
      color: white;
      font-size: 60px;
      padding-top: 20px;
    }
    .admin-form {
      position: relative;
      height: 65%;
      width: 100%;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .input {
        position: relative;
        height: 40px;
        border: none;
        width: 60%;
        border-radius: 10px;
        padding-left: 20px;
        margin: 0px 0px;
        &:focus {
          outline: none;
        }
      }
      .submit-button {
        position: relative;
        height: 45px;
        border: none;
        width: 60%;
        border-radius: 20px;
        margin: 10px 0px;
        background: #161614;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.274);
        color: white;
        font-family: $font1;
        font-size: 30px;
      }
    }
  }
}
