@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
.sidebar-container {
  position: relative;
  height: 100%;
  width: 10%;
  background: #1e1f1c;
}

.sidebar-container .inner-sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.sidebar-container .inner-sidebar .shonenfit-icon {
  position: absolute;
  top: 2%;
  font-family: "Ceviche One", cursive;
  font-size: 60px;
  color: #4cc9f0;
  width: 100%;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
}

.sidebar-container .inner-sidebar .side-bar-items {
  position: relative;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item:hover {
  background: #141412;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item .sidebar-icon {
  position: relative;
  font-size: 35px;
  height: 50%;
  width: 20%;
  left: 10px;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item .question {
  height: 40%;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item .sidebar-p {
  position: relative;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Fjalla One", sans-serif;
  color: white;
  height: 50%;
  top: 10px;
  width: 80%;
  padding-left: 30px;
}

.sidebar-container .inner-sidebar .side-bar-items .side-bar-item .openmenu-icon {
  position: absolute;
  right: 5px;
  top: 43px;
}

.sidebar-container .inner-sidebar .side-bar-items .side-menu {
  position: absolute;
  width: 100%;
  background: rgba(30, 31, 28, 0.55);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  left: 100%;
  top: 50%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.342);
          box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.342);
  -webkit-animation: menuin 0.5s ease-in;
          animation: menuin 0.5s ease-in;
}

.sidebar-container .inner-sidebar .side-bar-items .side-menu .first {
  border-top-right-radius: 20px;
}

.sidebar-container .inner-sidebar .side-bar-items .side-menu .last {
  border-bottom-right-radius: 20px;
}

.sidebar-container .inner-sidebar .side-bar-items .none {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: menuout 0.5s ease-out;
          animation: menuout 0.5s ease-out;
}

.sidebar-container .inner-sidebar .lowerlinks {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
}

.sidebar-container .inner-sidebar .lowerlinks .bottom-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar-container .inner-sidebar .lowerlinks .bottom-items:hover {
  background: #141412;
}

.sidebar-container .inner-sidebar .lowerlinks .bottom-items .sidebar-icon {
  position: relative;
  font-size: 35px;
  height: 50%;
  width: 20%;
  left: 10px;
}

.sidebar-container .inner-sidebar .lowerlinks .bottom-items .question {
  height: 40%;
}

.sidebar-container .inner-sidebar .lowerlinks .bottom-items .sidebar-p {
  position: relative;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Fjalla One", sans-serif;
  color: white;
  height: 50%;
  top: 10px;
  width: 80%;
  padding-left: 30px;
}

@-webkit-keyframes menuin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menuout {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes menuout {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=sidebar.css.map */