// SCSS fonts and variables
/*           FONTS                 */
// Font 1
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
$font1: "Bangers", cursive;
// Font 2
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
$font2: "Permanent Marker", cursive;
//  Font 3
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
$font3: "Ceviche One", cursive;

.backbutton-cont {
  position: fixed;
  background-color: none;
  top: 10%;
  z-index: 5;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 900px) {
    top: 15%;
  }
  .backbtn {
    position: relative;
    height: 100%;
    width: 200px;
    background-color: black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;

    .link-back {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
      .go-back-none {
        display: flex;
        transition: 0.5;
        font-size: 0px;
      }
      .arrow-icon {
        position: relative;
        transform: rotate(180deg);
        font-size: 40px;
        transition: 0.5s;
        color: #000;
        @media screen and (max-width: 900px) {
          transform: rotate(0deg);
        }
      }
    }
  }
  //
  .backbtn-closed {
    width: 60px;
    background: whitesmoke;
    padding: 0px 10px;
  }
  .go-back-show {
    text-align: center;
    color: white;
    font-family: $font1;
    transition: 0.5s;
    font-size: 30px;
    padding: 0px 30px;
  }
  .arrow-icon-hovered {
    position: relative;
    color: white;
    font-size: 40px;
    transform: rotate(0deg);
    transition: 0.5s;
  }
}

.link-back-none {
  display: none;
}

// Scroll up button
.scroll-up-btn-ctn {
  position: fixed;
  width: 60px;
  right: 10px;
  height: 60px;
  bottom: 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  animation: fadein 1s;

  .arrow-up {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}
.scroll-up-btn-hidden {
  display: none;
  transition: 0.5;
  animation: fadeout 1s;
}

// Green scrolltotop btn
.green-btn {
  color: rgb(13, 216, 114);
  &:hover {
    color: rgb(10, 110, 60);
  }
}

.yellow-btn {
  color: rgba(213, 216, 13, 1);
  &:hover {
    color: rgb(120, 122, 7);
  }
}

.blue-btn {
  color: #00ffff;
  &:hover {
    color: #00b4b4;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
