/*           FONTS                 */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
.backbutton-cont {
  position: fixed;
  background-color: none;
  top: 10%;
  z-index: 5;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backbutton-cont .backbtn {
  position: relative;
  height: 100%;
  width: 200px;
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.backbutton-cont .backbtn .link-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backbutton-cont .backbtn .link-back:hover {
  text-decoration: none;
}

.backbutton-cont .backbtn .link-back .go-back-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5;
  transition: 0.5;
  font-size: 0px;
}

.backbutton-cont .backbtn .link-back .arrow-icon {
  position: relative;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

.backbutton-cont .backbtn-closed {
  width: 60px;
  background: whitesmoke;
  padding: 0px 10px;
}

.backbutton-cont .go-back-show {
  text-align: center;
  color: white;
  font-family: "Bangers", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
  padding: 0px 30px;
}

.backbutton-cont .arrow-icon-hovered {
  position: relative;
  color: white;
  font-size: 40px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link-back-none {
  display: none;
}

.scroll-up-btn-ctn {
  position: fixed;
  width: 60px;
  right: 10px;
  height: 60px;
  bottom: 10px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.scroll-up-btn-ctn .arrow-up {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-up-btn-ctn .arrow-up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.scroll-up-btn-hidden {
  display: none;
  -webkit-transition: 0.5;
  transition: 0.5;
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
}

.green-btn {
  color: #0dd872;
}

.green-btn:hover {
  color: #0a6e3c;
}

.yellow-btn {
  color: #d5d80d;
}

.yellow-btn:hover {
  color: #787a07;
}

.blue-btn {
  color: #00ffff;
}

.blue-btn:hover {
  color: #00b4b4;
}
/*# sourceMappingURL=backbutton.css.map */