/*           FONTS                 */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
.Eq-m-cont {
  position: relative;
  background-color: #090d0f;
  height: 100%;
}

.Eq-m-cont .Eq-cont {
  position: relative;
  height: 100vh;
  top: 10%;
}

@media screen and (max-width: 770px) {
  .Eq-m-cont .Eq-cont {
    height: 100%;
  }
}

.Eq-m-cont .Eq-cont .row-1 {
  position: relative;
  height: 100%;
  top: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 770px) {
  .Eq-m-cont .Eq-cont .row-1 {
    position: relative;
    top: 100%;
    height: 900px;
    background: none;
  }
}

.Eq-m-cont .Eq-cont .row-1 h1 {
  position: absolute;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: "Ceviche One", cursive;
}

@media screen and (max-width: 770px) {
  .Eq-m-cont .Eq-cont .row-1 h1 {
    top: 8%;
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  .Eq-m-cont .Eq-cont .row-1 h1 {
    font-size: 40px;
  }
}

.Eq-m-cont .Eq-cont .row-1 .Eq-col,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 350px;
  background: none;
  margin: 10px 0px;
}

@media screen and (max-width: 770px) {
  .Eq-m-cont .Eq-cont .row-1 .Eq-col,
  .Eq-m-cont .Eq-cont .row-1 .Eq-col-2,
  .Eq-m-cont .Eq-cont .row-1 .Eq-col-3 {
    height: 200px;
    margin: 0px;
  }
}

.Eq-m-cont .Eq-cont .row-1 .Eq-col .band-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .weight-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .body-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .band-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .weight-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .body-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .band-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .weight-workouts,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .body-workouts {
  position: absolute;
  height: 100%;
  width: 90%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Eq-m-cont .Eq-cont .row-1 .Eq-col .band-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .weight-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .body-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .band-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .weight-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .body-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .band-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .weight-workouts:hover,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .body-workouts:hover {
  text-decoration: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.Eq-m-cont .Eq-cont .row-1 .Eq-col .band-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .weight-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .body-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .band-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .weight-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .body-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .band-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .weight-workouts .h1-position,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .body-workouts .h1-position {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 0;
  color: white;
}

.Eq-m-cont .Eq-cont .row-1 .Eq-col .band-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .weight-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col .body-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .band-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .weight-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-2 .body-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .band-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .weight-workouts .SVG,
.Eq-m-cont .Eq-cont .row-1 .Eq-col-3 .body-workouts .SVG {
  position: relative;
}

.Green {
  border: 4px solid white;
  border: 4px solid white;
}

.Green:hover {
  border: 4px solid #0dd872;
  -webkit-box-shadow: 0px 15px 10px #0dd872;
          box-shadow: 0px 15px 10px #0dd872;
}

.greenText {
  color: white;
}

.greenText:hover {
  color: #0dd872;
}

.Yellow {
  border: 4px solid white;
}

.Yellow:hover {
  border: 4px solid #d5d80d;
  -webkit-box-shadow: 0px 15px 10px #7f8101;
          box-shadow: 0px 15px 10px #7f8101;
}

.yellowh1 {
  color: #d5d80d;
}

.Lblue {
  border: 4px solid white;
}

.Lblue:hover {
  border: 4px solid cyan;
  -webkit-box-shadow: 0px 15px 10px cyan;
          box-shadow: 0px 15px 10px cyan;
}

.Lblueh1 {
  color: cyan;
}

.orangeTheme {
  border: 4px solid white;
}

.orangeTheme:hover {
  border: 4px solid #fc8f01;
  -webkit-box-shadow: 0px 15px 10px #fc8f01;
          box-shadow: 0px 15px 10px #fc8f01;
}

.orangeh1 {
  color: #fc8f00;
}
/*# sourceMappingURL=equipment.css.map */