// SCSS fonts and variables
/*           FONTS                 */
// Font 1
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap");
$font1: "Bangers", cursive;
// Font 2
// Font 2
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
$font2: "Fjalla One", sans-serif;
//  Font 3
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
$font3: "Ceviche One", cursive;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background: transparent;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  transition: 0.5s;
  @media screen and (max-width: 1000px) {
    background: black;
  }

  .brand {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-left: 80px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    font-family: $font3;
    z-index: 1;
    &:hover {
      color: white;
      text-decoration: none;
      transform: translateY(-5px);
    }
  }
}
nav.active {
  background-color: black;
  // box-shadow: 0px 1px 15px rgb(0, 146, 214);
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  position: absolute;
  display: flex;
  list-style: none;
  text-align: center;
  background: none;
  width: 100%;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  margin-right: 0rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  background: none;
}

.nav-signin {
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 30px;
  padding: 20px;
  width: 150px;
  transition: 0.5s;
  &:hover {
    background: white;
    transform: translateY(-5px);
  }
  @media screen and (max-width: 1000px) {
    position: relative;
  }
}
.signinlink {
  position: absolute;
  width: 100%;
  background: none;
  color: white;
  font-family: $font1;
  font-size: 30px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.nav-links {
  color: white;
  font-family: $font2;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  &:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-5px);
  }
}

.nav-links:hover {
  background-color: none;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.fa-times {
  color: white;
}
.fa-bars {
  color: white;
}

@media screen and (max-width: 1000px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: none;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #ffffff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
