.parent-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #339989;
  display: flex;
  flex-direction: row;
  .animecontainer {
    position: relative;
    height: 100%;
    width: 90%;
    right: 0px;
    background: #2b2c28;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1500px) {
      width: 85%;
    }
  }
}
