// Font 1
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
$font1: 'Bangers', cursive;
// Font 2
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$font2: 'Fjalla One', sans-serif;
//  Font 3
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
$font3: 'Ceviche One', cursive;

.login-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background: whitesmoke;
  .video-side {
    position: relative;
    height: 100%;
    width: 35%;
    overflow-y: hidden;
    overflow-x: hidden;

    .video {
      position: absolute;
      left: -600px;
      height: 120%;
      top: -10%;
    }
    .videoblur {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      backdrop-filter: blur(10px);
      z-index: 10;
    }
  }
  .form-side {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2b2c28;
    .title-header {
      position: relative;
      top: 10%;
      font-size: 80px;
      font-family: $font1;
      color: white;
      height: 100px;
    }
    .signin-signup {
      position: relative;
      height: 100px;
      top: 10%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      .signp {
        color: white;
        font-family: $font2;
        font-size: 20px;
      }
      .sign-p {
        color: #7de2d1;
        font-family: $font1;
        font-size: 20px;
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
